body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

a.button {
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 2px;
    text-decoration: none;
}

a.button:hover {
    background-color: rgb(63, 72, 204);
}

a.button.negative:hover {
    background-color: red;
}

a.button.positive:hover {
    background-color: rgb(34, 177, 76);
}

input {
    background-color: rgb(64, 64, 64);
    border: 1px solid white;
    color: white;
}

.inline {
    display: inline;
}

.inline-margin {
    margin-right: 5px;
}

.float-left {
    float: left;
}

hr {
    background-color: white;
    border-width: 0;
    height: 1px;
}
