@import "library";

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.inline {
    display: inline;
}

.inline-margin {
    .inline();
    margin-right: 5px;
}

.negative {
    &:hover {
        background-color: @negative-color-dark;
    }
}

.positive {
    &:hover {
        background-color: @positive-color-dark;
    }
}

.button {
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 2px;
    text-decoration: none;
    &:hover {
        background-color: @default-color;
    }
}

.button-negative {
    .button();
    .negative();
}

.button-positive {
    .button();
    .positive();
}

.button-inline {
    .button();
    .inline-margin();
}

.button-left {
    .button-inline();
    float: left;
}

.button-inline-negative {
    .button-inline();
    .negative();
}

.button-toggle-negative {
    .button-inline();
    .positive();
    background-color: @negative-color-dark;
}

.button-toggle-positive {
    .button-inline-negative();
    background-color: @positive-color-dark;
}

input {
    background-color: @gray-dark;
    border: 1px solid white;
    color: white;
}

hr {
    background-color: white;
    border-width: 0;
    height: 1px;
}
