table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 5px;
    vertical-align: top;
}

div.collapsible {
    display: none;
}

div.chapter {
    margin: 5px 0;
}

div.chapter div.controls {
    display: inline;
    float: right;
}

div.chapter div.new {
    color: rgb(255, 242, 0);
}
