@import "library";

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 5px;
    vertical-align: top;
}

.collapsible {
    display: none;
}

.read {
    color: @gray;
}

.chapter {
    margin: 5px 0;
    & .new {
        color: @neutral-color;
    }
    & .ignored {
        color: @gray-dark;
        text-decoration: line-through;
    }
    & .controls {
        display: inline;
        float: right;
    }
}
